certifi==2019.6.16
chardet==3.0.4
Django==2.2.8
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
iamporter==0.2.3
idna==2.8
Pillow==6.1.0
PyJWT==1.7.1
pytz==2019.2
requests==2.21.0
sqlparse==0.3.0
urllib3==1.24.3
